:root{
  --wheel-dimentions: 800px;
  --inner-wheel-dimentions: 400px;
  --game-max-width: 1600px;
}
main {
  width: 100%;
  max-width: var(--game-max-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.back {
  font-size: 3rem;
  width: 100%;
  text-decoration: none;
  color: black;
}
h1{
  font-size: 4rem;
}
#win {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  font-size: 50pt;
  padding: 70px;
  text-align: center;
  background-image: url('./fireworks.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}
#words {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px;
}
.out {
  font-size: 2.5rem;
  margin: 3px;
  width: min-content;
  text-align: center;
  border-radius: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
}
@media (max-width: 1200px) {
  #words {
    flex-direction: column;
    align-items: center;
  }
  .out {
    font-size: 4rem;
  }
}
#wheel {
  width: 100%;
  max-width: var(--wheel-dimentions);
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle {
  position: relative;
  display: flex;
  width: 100%;
  height: var(--wheel-dimentions);
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  border-radius: 50%;
}

.circle-inner{
  background-color: white;
  border-radius: 50%;
  display: flex;
  width: 100%;
  max-width: var(--inner-wheel-dimentions);
  height: var(--inner-wheel-dimentions);
  justify-content: center;
  align-items: center;
  position: relative;
}
.circle-center{
  position: relative;
  width: 1px;
  height: 1px;
  background-color: black;
}
.letter {
  font-size: 9rem;
  padding: .3rem .3rem;
  width: 150px;
  aspect-ratio: 1/1;
  z-index: 999;
  position: absolute;
  display: grid;
  transform: translate(-50%, -50%);
  place-items: center;
  border-radius: 50%;
  background-color: navy;
  color: white;
  user-select: none;
  cursor: pointer;
}
.letter:hover {
  background-color: blue;
}
.hover {
  background-color: blue;
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
.line{
  width: 5px;
  background-color: red;
  position: fixed;
  /*
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  animation: rotate 3s infinite !important;
  */
  z-index: 998;
}
#shuffle-box{
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  height: 60px;
  margin-top: 2rem;
}
#shuffle-button{
  font-size: 3.5rem;
  border-radius: 1rem;
  padding: .3rem 1.5rem;
  grid-column: 3;
  cursor: pointer;
  background: linear-gradient(to right, pink, blue);
  -webkit-background-clip: text; /* Safari/Chrome */
  background-position: 50%;
  background-clip: text;
  color: transparent;
}
@keyframes lettergradient {
  0% {
    font-size: 3.5rem;
  }
  50% {
    font-size: 4rem;
  }
  100% {
    background-position: 3.5rem;
  }

}
#shuffle-button:hover{
  animation: lettergradient 1s infinite;
}
